@import "nav.css";
@import "footer.css";
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: IBM Plex Sans;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
    /* min-width: fit-content; */
}

.containergrid {
    display: grid;
    grid-template-rows: 80px 392px 276px auto 80px;
    grid-template-areas: "nav" "image" "author" "content-text" "footer";
    border: 0.5px solid #777677;
    justify-content: center;
}

ul {
    list-style: none;
}

.cover-image {
    grid-area: image;
    height: 392px;
    width: 100%;
    margin: 0px;
    background-image: url('../img/Web-Image-1.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.author {
    display: inline-block;
    grid-area: author;
    margin: 0px;
    height: 276px;
    justify-content: center;
}

#authorGrid {
    display: grid;
    margin: 0px;
    grid-template-columns: 7fr 15fr;
    grid-gap: 32px;
    padding: 160px;
    margin-right: 60px;
    /* border: 0.5px solid #777677; */
    justify-content: center;
}

.author-photo {
    justify-content: left;
    background-image: url('../img/Web-Image-Post-Author.png');
    background-size: cover;
    height: 236px;
}

.content-text {
    padding: 160px;
    grid-area: content-text;
}

.content-text h1 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
    color: #161616;
}

.content-text span.date {
    margin: 8px 0px;
    color: #747474;
    font-size: 12px;
}

.content-text p {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    letter-spacing: 0.16px;
    color: #393939;
}