@import url("fineprint.css") print;
@import url("bluish.css") speech;
@import 'custom.css';
@import url("chrome://communicator/skin/");
@import "common.css" screen;
@import url('landscape.css') screen and (orientation:landscape);

/* Mobile first */

.container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    border: 2px solid yellow;
    /* Use grid-template-area to create a mobile layout where each named space occupies its own row */
    grid-template-areas: "hd" "sd" "main" "ft";
}

.box {
    border: 1px solid red;
    background: #F8FA9D;
}

.header {
    grid-area: hd;
}

.footer {
    grid-area: ft;
}

.sidebar {
    grid-area: sd;
}

.content {
    grid-area: main;
}


/* If Screen Is tablet size */


/* If Screen Is mobile size */