nav {
    background-color: #000000;
    padding: 8px 28px;
    height: 80px;
    width: 100%;
}

.menu li {
    font-size: 20px;
    padding: 15px 5px;
}

.menu li a {
    display: block;
}

.logo a {
    font-size: 28px;
}


/* Mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item {
    width: 100%;
    text-align: center;
    order: 2;
    display: none;
    background: black;
}

.item.active {
    display: block;
}

.toggle {
    cursor: pointer;
}

.bars {
    background: #999999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 24px;
}

.bars::before,
.bars::after {
    background: #999999;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    width: 24px;
}

.bars::before {
    top: 2px;
}

.bars::after {
    top: -5px;
}

.logo a {
    color: white;
    text-decoration: none;
    transition: all 0.3s case 0s;
}

.logo a:hover {
    color: #1164FB;
    text-decoration: none;
}

.item a {
    color: white;
    text-decoration: none;
    transition: all 0.3s case 0s;
}

.item a:hover {
    color: #1164FB;
    /* text-decoration: none; */
}


/* tablet menu */

@media all and (min-width:678px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        order: 1;
    }
}


/* desktop menu */

@media all and (min-width:1056px) {
    .logo {
        order: 0;
    }
    .item {
        display: block;
        width: auto;
        order: 1;
    }
    .toggle {
        display: none;
    }
    .menu li {
        padding: 15px 10px;
    }
}