@import "nav.css";
@import "content.css";
@import "footer.css";
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: IBM Plex Sans;
}

ul {
    list-style: none;
}

.header {
    padding: 16px 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #393939;
}